<div class="container-fluid">
    <div *ngIf="!isLoaded">
        <div class="row article skeleton" *ngFor="let itms of [].constructor(5); let i= index">
            <div class="col-lg-5 col-md-6 thumbnail-wrapper">
                <div class="skeleton-thumbnail">
                </div>
            </div>
            <div class="col-lg-6 col-md-5 text-wrapper">
                <div class="skeleton-date">
                </div>
                <div class="skeleton-title">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="skeleton-lead">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row article" *ngFor="let article of articles | slice:0:5">
        <div class="bg">
            <img src="assets/images/{{article.image}}" alt="" class="bg-img">
        </div>
        <div class="col-lg-5 col-md-6 thumbnail-wrapper">
            <div class="thumbnail" routerLink="/articles/article/{{article.id}}">
                <img src="assets/images/{{article.image}}" alt="" class="img">
            </div>
        </div>
        <div class="col-lg-6 col-md-5 text-wrapper">
            <div class="date">
                <strong>{{article.date | date: "dd.MM"}}</strong> {{article.category.categoryName}}
            </div>
            <div class="article-title">
                <p>{{article.title}}</p>
            </div>
            <div class="lead-p">
                <p>{{article.leadParagraph}}</p>
            </div>
        </div>
    </div>
</div>