.article {
    padding: 1.5em 2em;
    position: relative;
    overflow: hidden;
    transition: .5s;
    z-index: 2;
}

.thumbnail {
    cursor: pointer;
    transition: transform .5s;
    overflow: hidden;
    height: 320px;
    border-radius: .8em;
}

.thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}


.bg {
    position: absolute;
    display: flex;
    z-index: -1;
    filter: blur(12px) brightness(70%);
    transform: scale(1.3);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.bg-img {
    padding: 0;
    object-fit: cover;
    width: 100vw;
    overflow: hidden;

}

.text-wrapper {
    font-size: 1.5vw;
    color: white;
    margin-left: 1.2rem;
}

.date {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: .4em;
}

.article-title {
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 1.2;
    font-size: 2em;
}

.lead-p {
    margin-top: 1.4em;
    font-size: 1.1em;
    font-weight: 300;
}


@media screen and (min-width: 1500px) {

    .article {
        padding: 2.5em 6em 2.5em 6em;
    }

    .date {
        margin-bottom: 2em;
    }

    .text-wrapper {
        font-size: 1vw;
        margin-left: 2.8rem;
    }

    .thumbnail {
        height: 380px;
    }

    .date {
        margin-bottom: 2vh;
    }

}

@media screen and (max-width: 767px) {
    .article {
        display: flex;
        flex-direction: column;
    }

    .text-wrapper {
        order: 1;
        margin-bottom: 1.2em;
        margin-left: 0em;
        font-size: 2.2vw;
    }

    .lead-p {
        font-size: 1.4em;
    }


    .thumbnail-wrapper {
        order: 2;
    }


    .bg {
        transform: scale(1.4);
    }

    .thumbnail {
        height: 320px;
    }

}

@media screen and (max-width:576px) {
    .text-wrapper {
        font-size: 3.2vw;
    }

    .article-title {
        font-size: 2em;
    }

    .date {
        margin-bottom: .8em;
        font-size: 1.3em;
    }

    .article {
        padding: 1.5em .5em;
    }

    .thumbnail {
        height: 220px;
    }

}

@media screen and (max-width:320px) {
    .text-wrapper {
        font-size: 3.5vw;
    }

    .date {
        margin-bottom: .2em;
    }

    .article {
        padding: 1.5em 0.3em;
    }

    .thumbnail {
        height: 150px;
    }

}


/* Skeleton */
.skeleton-thumbnail {
    height: 320px;
    background: var(--skeleton-color);
    border-radius: .5em;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.skeleton-date {
    height: 15px;
    width: 20%;
    border-radius: 2em;
    background: var(--skeleton-color);
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.skeleton-title {
    margin: 1.6em 0em;
}

.skeleton-title .line {
    height: 25px;
    position: relative;
    overflow: hidden;
    border-radius: 2em;
    background: var(--skeleton-color);
    margin-bottom: .7em;
    transition: .3s;
}

.skeleton-title div:nth-child(1) {
    width: 80%;
}

.skeleton-title div:nth-child(2) {
    width: 60%;
}

.skeleton-lead {
    margin: 2em 0em;
}

.skeleton-lead .line {
    height: 15px;
    border-radius: 2em;
    background: var(--skeleton-color);
    margin-bottom: .7em;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.skeleton-lead div:nth-child(1) {
    width: 80%;
}

.skeleton-lead div:nth-child(2) {
    width: 60%;
}

.skeleton-lead div:nth-child(3) {
    width: 75%;
}

.skeleton-lead div:nth-child(4) {
    width: 70%;

}

.line::before,
.skeleton-thumbnail::before,
.skeleton-date::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, var(--skeleton-color) 0%, var(--skeleton-anim) 20%, var(--skeleton-color) 40%, var(--skeleton-color) 100%);
    background-repeat: no-repeat;
    animation: skeleton 2s linear infinite;
}