.form-select {
    background-color: #f8f8f8;
    border: 0;
}

.plus-button {
    border: 2px solid lightgrey;
    background-color: #fff;
    font-size: 16px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
}

.plus-button:after,
.plus-button:before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus-button:before {
    height: 1em;
    width: 0.2em;
}

.plus-button:after {
    height: 0.2em;
    width: 1em;
}

.plus-button--large {
    font-size: 22px;
}

.card {
    transition: .3s;
    box-shadow: rgba(17, 12, 46, 0.10) 0px 5px 10px 0px;
    border: 0;
    border-radius: 1.1em;
    overflow: hidden;
}

.file-input {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#image-clip {
    cursor: pointer;
}

#imagefile-text {
    margin-left: .5em;
}

.card-row {
    height: 250px;
}

.articlecard-image {
    height: 100%;
    overflow: hidden;
}

.card-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1em;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.editbuttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.editbuttons div {
    cursor: pointer;
    bottom: 0px;
    position: relative;
    transition: .3s;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.searchbar-wrapper {
    margin-bottom: 1.5em;
    width: 20%;
    position: relative;
}


#searchbar {
    outline: none;
    border: .1 solid lightgrey;
    padding: 0.6em 1em;
    border-radius: 2em;
}

#searchbar::placeholder {
    font-size: .9em;
    transition: .3s;
}

#searchbar:focus::placeholder {
    color: transparent;
}

.searchbar-button {
    position: absolute;
    right: 5%;
    top: 26%;
    color: rgb(100, 100, 100);
}

/* Skeleton */

.skeleton-image {
    height: 100%;
    width: 100%;
    border-radius: 1em;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: var(--skeleton-color);
    position: relative;
    overflow: hidden;
}

.skeleton-title {
    width: 100%;
    margin: 1.5em 0;
}

.skeleton-id {
    width: 8%;
    height: 10px;
    background: var(--skeleton-color);
    border-radius: 2em;
    position: relative;
    overflow: hidden;
}


.skeleton-title .line {
    height: 16px;
    background: var(--skeleton-color);
    border-radius: 2em;
    margin-bottom: 0.5em;
    position: relative;
    overflow: hidden;
}

.skeleton-title div:nth-child(1) {
    width: 80%;
}

.skeleton-title div:nth-child(2) {
    width: 60%;
}

.skeleton-lead {
    width: 100%;
    margin: 1.5em 0;
}

.skeleton-lead .line {
    height: 13px;
    background: var(--skeleton-color);
    border-radius: 2em;
    margin-bottom: 0.7em;
    position: relative;
    overflow: hidden;
}

.skeleton-lead div:nth-child(1) {
    width: 90%;
}

.skeleton-lead div:nth-child(2) {
    width: 70%;
}

.skeleton-lead div:nth-child(3) {
    width: 80%;
}

.line::before,
.skeleton-image::before,
.skeleton-id::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, var(--skeleton-color) 0%, var(--skeleton-anim) 20%, var(--skeleton-color) 40%, var(--skeleton-color) 100%);
    background-repeat: no-repeat;
    animation: skeleton 2s linear infinite;
}