<!-- Button trigger modal -->
<div class="article-cards">
    <div class="container-fluid">
        <div class="row g-4 row-cols-1 row-cols-lg-2 justify-cotent-evenly">
            <div class="col-lg-6" *ngFor="let article of articles">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-6 col-md-5 articlecard-image">
                            <img src="assets/images/{{article.image}}" alt="{{article.image}}"
                                class="card-img img-fluid">
                        </div>
                        <div class="col-6 col-md-7">
                            <div class="card-body d-flex flex-column">
                                <div class="h-100">
                                    <div class="d-flex justify-content-between">
                                        <div class="text-muted">ID: {{article.id}}</div>
                                        <div class="text-muted">{{article.date | date:'dd.MM.yyyy HH:00'}}</div>
                                    </div>
                                    <h5 class="card-title">{{article.title}}</h5>
                                    <p class="card-text">{{article.leadParagraph}}</p>
                                </div>
                                <div class="position-absolute bottom-0 start-2 pb-3">
                                    <fa-icon class="fa-xl text-dark" [icon]="faPencil"></fa-icon>
                                    <fa-icon class="fa-xl text-danger" [icon]="faTrash"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<button class="button" class="plus-button plus-button--large sticky-bottom" data-bs-toggle="modal"
    data-bs-target="#addArticleModal"></button>

<div class="modal modal-xl hide fade in" id="addArticleModal" tabindex="-1" aria-labelledby="addArticleModal"
    aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moodalTitle">New Article</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form #addForm="ngForm" (ngSubmit)="onAddArticle(addForm)">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" ngModel name="title" class="form-control shadow-none" id="titleInput"
                            placeholder="Your title here." required>
                    </div>
                    <div class="mb-3">
                        <textarea ngModel name="leadParagraph" class="form-control shadow-none" id="leadInput"
                            placeholder="Your lead paragraph here." required></textarea>
                        <div class="form-text">The lead paragraph should be concise and clearly understandable.</div>

                    </div>

                    <div class="mb-3">
                        <select ngModel name="category" class="form-select shadow-none" required>
                            <option value="" selected>Select a category.</option>
                            <option *ngFor="let category of categories" value="{{category.id}}">
                                {{category.categoryName}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <editor apiKey="{{tinymceapi}}" [init]="{
                            plugins: 'autolink autoresize textcolor',
                            toolbar1: 'fontfamily fontsize | forecolor bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | lineheight indent outdent',
                            menubar: false,
                            min_height: 400,
                            content_css: 'adminpage.component.css'
                          }">
                        </editor>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteArticleModal" tabindex="-1" aria-labelledby="deleteArticleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalTitle">Delete Article</h1>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>