<header class="nav_bar sticky-top">
  <nav class="nav">
    <div class="nav-element-wrapper">
      <div class="logo nav-element" routerLink="/">
        <svg xmlns="logo" viewBox="0 0 75 82" width="32">
          <path d="M0 15.6V82l21.4-31.3zM0 15.6L15.6 0l38.3 47.8V8.9L75 1.5v58.9L53.9 82z" fill="white" />
        </svg>
      </div>
      <div routerLink="/articles/category/" class="nav-element element">all articles</div>
      <div class="nav-element element">categories</div>
    </div>
    <div class="nav-element-wrapper">
      <div class="nav-element darkmode-button">
        <div class="darkmode-toggle-wrapper">
          <input type="checkbox" class="darkmode-checkbox" [checked]="darkMode" (change)="toggleDarkMode()">
          <span class="moon"></span>
          <span class="sun-rays"></span>
          <span class="sun-rays-hider"></span>
        </div>
      </div>
    </div>
  </nav>


  <div class="nav-mobile text-center">
    <div class="menu-icon" (change)="isMobileNavOpen = !isMobileNavOpen">
      <input class="menu-icon__cheeckbox" type="checkbox" />
      <div>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="logo" routerLink="/">
      <svg xmlns="logo" viewBox="0 0 75 82" width="32">
        <path d="M0 15.6V82l21.4-31.3zM0 15.6L15.6 0l38.3 47.8V8.9L75 1.5v58.9L53.9 82z" fill="white" />
      </svg>
    </div>
    <div class="darkmode-toggle-wrapper">
      <input type="checkbox" class="darkmode-checkbox" [checked]="darkMode" (change)="toggleDarkMode()">
      <span class="moon"></span>
      <span class="sun-rays"></span>
      <span class="sun-rays-hider"></span>
    </div>
  </div>

</header>
<nav class="nav-overlay text-center hidden" [ngClass]="{'show': isMobileNavOpen}">
  <div *ngFor="let category of categories" routerLink="/articles/category/" [queryParams]="{categoryId: category.id}"
    class="nav-element-mobile">
    {{category.categoryName}}</div>
</nav>

<body [ngClass]="{'dark': darkMode}">

  <router-outlet></router-outlet>

  <footer class="footer_bar">
    <div class="footer">
      <div class="footer-infobox">
        <span class="footer-text">NEWSLETTER</span>
        <span class="footer-info">From local events to global headlines, we've got you covered.</span>
      </div>
      <div class="newsletter-wrapper">
        <form>
          <input type="email" class="newsletter-email" placeholder="Enter Your Email">
          <button type="submit" class="newsletter-sub">SUBSCRIBE</button>
        </form>
      </div>
      <div class="social-media">
        <a href="https://www.facebook.com/"><fa-icon class="fa-2xl" [icon]="faFacebook"></fa-icon></a>
        <a href="https://www.twitter.com/"><fa-icon class="fa-2xl" [icon]="faTwitter"></fa-icon></a>
        <a href="https://www.instagram.com/"><fa-icon class="fa-2xl" [icon]="faInstagram"></fa-icon></a>
      </div>
      <hr>
      <span class="footer-info">© 2023 - All Rights Reserved</span>
    </div>
  </footer>
</body>