/* header - all navbars */

.nav_bar {
    background-color: #0f0f0f;
    color: white;
    z-index: 4;
    user-select: none;
    transition: .3s;
}


/* PC navbar */
.nav {
    padding: 2em 2em;
    display: flex;
    justify-content: space-between;
}

.nav-element-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.nav-element {
    font-weight: 400;
    font-size: 1.1em;
    padding: 0em 1.4em;
    color: white;
    cursor: pointer;
    transition: .5s;
    opacity: 100%;
    text-transform: uppercase;
}

.nav-element.element {
    opacity: 75%;
}

.nav-element.element:hover {
    opacity: 100%;
}

/* Mobile navbar */
.nav-mobile {
    display: none;
    flex-direction: row;
    padding: 1em 1em;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-overlay {
    display: none;
    width: 100%;
    overflow: auto;
    z-index: 3;
    position: fixed;
    background-color: #0f0f0f;
    justify-content: end;
    flex-direction: column;
}

.nav-overlay div {
    display: block;
    text-decoration: none;
    overflow: hidden;
}

.nav-element-mobile {
    user-select: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 1.6em;
    transition: .2s;
    cursor: pointer;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.hidden {
    transform: translateY(-100%);
    transition: all .6s;
}

.show {
    transform: translateY(0%);
}

/* hiding/showing navbars */
@media screen and (max-width: 767px) {
    .nav-mobile {
        display: flex;
    }

    .nav {
        display: none;
    }

    .nav-overlay {
        display: flex;
    }
}

.footer_bar {
    background-color: #0f0f0f;
    color: white;
}

.footer {
    padding: 3em 2em;
    justify-content: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;

}

.footer-text {
    font-size: 2.4em;
    font-weight: 500;
    margin-bottom: .5em;
    letter-spacing: 1px;
}

.footer-info {
    font-size: 1em;
    font-weight: 200;
    text-align: center;
}


.newsletter-wrapper {
    position: relative;
    width: 50%;
}

.newsletter-email {
    outline: none;
    background-color: white;
    padding: 0em 1.2em;
    border: none;
    border-radius: 5em;
    width: 100%;
    height: 3.5em;
    color: black;
}

.newsletter-email::placeholder {
    font-size: .9em;
    transition: .2s;
}

.newsletter-email:focus::placeholder {
    color: transparent;
}

.newsletter-sub {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    color: white;
    border: none;
    padding: 1em 2.5em;
    top: 4px;
    right: 4px;
    height: 3em;
    border-radius: 5em;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3em;
}

.social-media fa-icon {
    position: relative;
    padding: 0em .4em;
    cursor: pointer;
    top: 0;
    transition: top .2s;
}

.social-media fa-icon:hover {
    top: -5px;
}

a fa-icon {
    color: white;
}

hr {
    margin: 2.5em;
    border-top: white 0.5px solid;
    width: 95%;
}


@media screen and (max-width: 767px) {
    .newsletter-wrapper {
        width: 100%;
    }

    .newsletter-sub {
        width: 100%;
        position: relative;
        top: 15px;
        left: 0;
        background-color: #292929;

    }
}

/* Mobile navbar hamburger button */
.menu-icon {
    transform: scale(1.2);
}

.menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-icon .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
}

.menu-icon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 12px;
}

.menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
    top: 0;
}

.menu-icon span:last-of-type {
    bottom: 0;
}

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked+div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
}

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked+div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
}

.menu-icon:hover .menu-icon__cheeckbox:checked+div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked+div span:last-of-type {
    width: 24px;
}



.darkmode-toggle-wrapper {
    transform: scale(.9);
}

.darkmode-toggle-wrapper {
    display: flex;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.darkmode-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.moon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    transition: transform .5s ease-in-out;

}

.moon::after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0f0f0f;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: left .3s ease-in-out, top .3s ease-in-out;

}

.sun-rays {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background:
        linear-gradient(to bottom,
            currentColor 7px, transparent 0) no-repeat 9.2px -5px/2px 5px,
        /* top */
        linear-gradient(to bottom,
            currentColor 7px, transparent 0) no-repeat 9px 20px/2px 5px,
        /* bottom */
        linear-gradient(to bottom,
            currentColor 7px, transparent 0) no-repeat -5px 9px/5px 2px,
        /* left */
        linear-gradient(to bottom,
            currentColor 7px, transparent 0) no-repeat 20px 9px/5px 2px;
    /* right */
    border: 10px solid transparent;
    transition: opacity 0.3s ease-in-out;
}

.sun-rays::after,
.sun-rays::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 30px;
    height: 2px;
    border-right: 5px solid;
    border-left: 5px solid;
    left: -5px;
    top: 9px
}


.sun-rays::before {
    transform: rotate(-45deg)
}

.sun-rays::after {
    transform: rotate(45deg)
}

.sun-rays-hider {
    position: absolute;
    width: 42px;
    height: 42px;
    border: 6px solid #0f0f0f;
    border-radius: 50%;
    transition: width .3s ease-in-out, height .3s ease-in-out;
}

.darkmode-checkbox:checked~.sun-rays-hider {
    width: 32px;
    height: 32px;
}

.darkmode-checkbox:checked~.moon::after {
    left: 75%;
    top: 35%;
}