#articles-container {
    padding-top: 1.5em;
    padding-bottom: 1em;
    color: var(--text-color);
}

.card {
    background-color: var(--card-bg);
    margin-bottom: 2em;
    border-radius: .1em;
    box-shadow: rgba(17, 12, 46, 0.10) 0px 5px 10px 0px;
    border: 0;
    cursor: pointer;
    transition: .3s;
    user-select: none;
    overflow: hidden;
    border-radius: 1em;
}

.category-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    font-size: .9em;
    color: var(--greytext-color);
}

.card-category {
    font-weight: 500;
}

.card-img-top {
    object-fit: cover;
    height: 300px;
}

.page-item {
    cursor: pointer;
    user-select: none;
    border-radius: 0%;
}

.page-link {
    box-shadow: none !important;
    color: var(--text-color);
    background-color: var(--secondary-bg);
    border-color: var(--border-color);
}

.card-title {
    font-size: 1.35em;
}

.page-item.active .page-link {
    background-color: var(--selected-color);
    transition: .3s;
}

.page-link:disabled {
    color: var(--disabled-color);
}

@media screen and (min-width: 575px) {
    .card {
        height: 450px;
    }

    .category-date {
        font-size: 1em;
    }
}

@media screen and (min-width: 767px) {
    #articles-container {
        padding: 1.5em 2em;
    }
}


/* Skeleton loading */
.skeleton {
    transition: .3s;
}

.skeleton-image {
    width: 100%;
    height: 100%;
    background: var(--skeleton-color);
    height: 300px;
    position: relative;
    overflow: hidden;
}

.skeleton-category {
    margin-top: .4em;
    height: 10px;
    width: 25%;
    background: var(--skeleton-color);
    border-radius: 2em;
    position: relative;
    overflow: hidden;
}

.skeleton-date {
    margin-top: .4em;
    height: 10px;
    width: 40%;
    background: var(--skeleton-color);
    border-radius: 2em;
    position: relative;
    overflow: hidden;
}

.skeleton-title {
    margin-top: 2em;
    width: 100%;
}

.skeleton-title .line {
    height: 14px;
    background: var(--skeleton-color);
    border-radius: 2em;
    margin-bottom: .6em;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.skeleton-title div:nth-child(1) {
    width: 90%;
}

.skeleton-title div:nth-child(2) {
    width: 80%;
}

.skeleton-title div:nth-child(3) {
    width: 100%;
}

.skeleton-category::before,
.skeleton-date::before,
.skeleton-image::before,
.line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 120%;
    background: linear-gradient(to right, var(--skeleton-color) 0%, var(--skeleton-anim) 20%, var(--skeleton-color) 40%, var(--skeleton-color) 100%);
    background-repeat: no-repeat;
    animation: skeleton 2s linear infinite;

}

@keyframes skeleton {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: 500px 0;
    }
}