@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    overflow: overlay;
    background-color: var(--primary-bg);
    transition: .3s;
    margin: 0;
    font-family: 'Roboto Serif', serif;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: rgba(133, 133, 133, 0.5);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(133, 133, 133, 0.8);
}

body {
    --primary-bg: rgb(245, 245, 245);
    --card-bg: rgb(255, 255, 255);
    --text-color: rgb(0, 0, 0);
    --greytext-color: rgb(146, 146, 146);
    --secondary-bg: rgb(255, 255, 255);
    --border-color: rgb(230, 230, 230);

    --selected-color: rgb(221, 221, 221);
    --disabled-color: rgb(180, 180, 180);

    --skeleton-color: rgb(223, 223, 223);
    --skeleton-anim: rgba(243, 243, 243, 0.5);
}

body.dark {
    --primary-bg: #111111;
    --card-bg: #1a1a1a;
    --text-color: rgb(230, 230, 230);
    --greytext-color: rgb(175, 175, 175);
    --secondary-bg: #161616;
    --border-color: #222222;

    --selected-color: #0f0f0f;
    --disabled-color: rgb(73, 73, 73);

    --skeleton-color: #272727;
    --skeleton-anim: rgba(48, 48, 48, 0.5);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(168, 168, 168, 0.8);
    box-shadow: none;
    outline: none;
}

@keyframes skeleton {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: 600px 0;
    }
}